In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.0.3'

# GIS/Data Intern Written Test - Data Prep

The following steps describe the data extraction and preparation procedures for the District Projected Population.

This notebook is also available at https://github.com/devlp121/GISTest.

In [3]:
#Read the excel file
df = pd.read_excel('Task Dataset/District_Projected_population_by_single_age_and_sex_(2015-2025)_UG.xlsx', index_col=0)

In [4]:
df.head()

,2015,Unnamed: 2,2016,Unnamed: 4,2017,Unnamed: 6,2018,Unnamed: 8,2019,Unnamed: 10,...,2021,Unnamed: 14,2022,Unnamed: 16,2023,Unnamed: 18,2024,Unnamed: 20,2025,Unnamed: 22
KALANGALA,Male,Female,Male,Female,Male,Female,Male,Female,Male,Female,...,Male,Female,Male,Female,Male,Female,Male,Female,Male,Female
Total,32200,23700,33400,24700,34600,25700,35800,26700,37000,27800,...,39500,30000,40800,31200,42100,32400,43400,33600,44700,34800
0 year,1150,940,1190,980,1230,1020,1280,1060,1320,1100,...,1410,1190,1450,1240,1500,1290,1550,1330,1590,1380
1 year,1030,920,1070,960,1100,1000,1140,1040,1180,1080,...,1260,1170,1300,1220,1340,1260,1380,1310,1430,1360
2 years,940,920,980,960,1010,1000,1050,1030,1080,1080,...,1160,1160,1190,1210,1230,1260,1270,1300,1310,1350

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11996 entries, KALANGALA to 80+
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2015         11072 non-null  object
 1   Unnamed: 2   11072 non-null  object
 2   2016         11072 non-null  object
 3   Unnamed: 4   11072 non-null  object
 4   2017         11072 non-null  object
 5   Unnamed: 6   11072 non-null  object
 6   2018         11072 non-null  object
 7   Unnamed: 8   11072 non-null  object
 8   2019         11072 non-null  object
 9   Unnamed: 10  11072 non-null  object
 10  2020         11072 non-null  object
 11  Unnamed: 12  11072 non-null  object
 12  2021         11072 non-null  object
 13  Unnamed: 14  11072 non-null  object
 14  2022         11072 non-null  object
 15  Unnamed: 16  11072 non-null  object
 16  2023         11072 non-null  object
 17  Unnamed: 18  11072 non-null  object
 18  2024         11072 non-null  object
 19  Unnamed: 20  11072 non-null  object
 20  2025         11072 non-null  object
 21  Unnamed: 22  11072 non-null  object
dtypes: object(22)
memory usage: 2.1+ MB

In [6]:
###Select from MultiIndex by Level

In [7]:
#Get unique index values and drop the labels
i_unique = df.index.unique()

In [8]:
labels = [ 'Total',      '0 year',      '1 year',
           '2 years',     '3 years',     '4 years',     '5 years',
           '6 years',     '7 years',     '8 years',     '9 years',
          '10 years',    '11 years',    '12 years',    '13 years',
          '14 years',    '15 years',    '16 years',    '17 years',
          '18 years',    '19 years',     '20 year','20 years','21 years',     '21 year',
          '22 years',    '23 years',    '24 years',    '25 years',
          '26 years',    '27 years',    '28 years',    '29 years',
           '30 year','30 years',     '31 year','31 years',    '32 years', '32years',   '33 years',
          '34 years',    '35 years',    '36 years',    '37 years',
          '38 years',    '39 years',     '40 year', '40 years','40years',    '41 year','41 years',
          '42 years',    '43 years',    '44 years',    '45 years',
          '46 years',    '47 years',    '48 years',    '49 years',
           '50 year','50 years',     '51 year','51 years',    '52 years',    '53 years',
          '54 years',    '55 years',    '56 years',    '57 years',
          '58 years',    '59 years',     '60 year', '60 years',    '61 year','61 years',
          '62 years',    '63 years',    '64 years',    '65 years',
          '66 years',    '67 years',    '68 years',    '69 years',
           '70 year','70 years',     '71 year','71 years',    '72 years',    '73 years',
          '74 years',    '75 years',    '76 years',    '77 years',
          '78 years',    '79 years',    '80+years', '80+']
districts = i_unique.drop(labels)

In [9]:
#Remove None values
districts = districts[~districts.isnull()]
districts.shape

(135,)

In [10]:
#Slice by index from the district to the last label for the district data, 80+ years.
#Add District column for each row iteration
#Index Slicing
idx = pd.IndexSlice

In [11]:
for distr in districts:
    temp = df.query('index == @distr')

In [12]:
for index, row in df.iterrows():
    for distr in districts:
        df.xs(row)['District'] == distr

TypeError: '2015             Male
Unnamed: 2     Female
2016             Male
Unnamed: 4     Female
2017             Male
Unnamed: 6     Female
2018             Male
Unnamed: 8     Female
2019             Male
Unnamed: 10    Female
2020             Male
Unnamed: 12    Female
2021             Male
Unnamed: 14    Female
2022             Male
Unnamed: 16    Female
2023             Male
Unnamed: 18    Female
2024             Male
Unnamed: 20    Female
2025             Male
Unnamed: 22    Female
Name: KALANGALA, dtype: object' is an invalid key

In [13]:
for distr in districts:
    for row in df.index(distr) > df.columns.isnull() == True:
        df.xs(row)['District'] = distr

TypeError: 'Index' object is not callable

In [14]:
null_columns=df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

2015           924
Unnamed: 2     924
2016           924
Unnamed: 4     924
2017           924
Unnamed: 6     924
2018           924
Unnamed: 8     924
2019           924
Unnamed: 10    924
2020           924
Unnamed: 12    924
2021           924
Unnamed: 14    924
2022           924
Unnamed: 16    924
2023           924
Unnamed: 18    924
2024           924
Unnamed: 20    924
2025           924
Unnamed: 22    924
dtype: int64